*.elc
*~
bookmarks
desktop
el-get
elpa
.mc-lists.el
auto-save-list
eww-bookmarks
eshell
locate.db
*.eld
*.cache
recentf
smex-items
tramp
tutorial
url
var
server
emacs-source
/styles
/org-note.html
/org-note.md
.lsp*
eln-cache
\#*\#
projects
network-security.data
transient